<div class="grid-item <%= width %> <%= height %>">
  <div class="job-card-content">
    <div class="job-title">
      <%= job.title.truncate(job.title_length) %>
    </div>
    <div class="job-info">
      <%= job.salary %>
    </div>
  </div>
</div>
